{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Hello World! <span class="glyphicon glyphicon-fire" aria-hidden="true"></span></h1>
        <a href="#" class="thumbnail pull-left">
            <img data-src="holder.js/300x200?random=yes">
        </a>
    </div>
{% endblock %}
